body {
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3.5rem;
}

button {
    border: 3px solid black;
    padding: 5px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.color {
    background-color: #a280c2;
}