body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
}

h2 span {
    border: black 4px solid;
    border-radius: 1.5rem;
    padding: 0px 20px;
}

button {
    border: 3px solid black;
    padding: 5px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

button:focus {
    outline: none;
}

.color {
    background-color: #a280c2;
}

@media screen and (max-width: 380px) {
    h2 {
        font-size: 2rem;
    }
}