body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(https://images.unsplash.com/photo-1541781774459-bb2af2f05b55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=742&q=80);
    background-size: cover;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color: black;
    font-size: 2rem;
    background-color: red;
    border: none;
}